@page "/pessoas"

<h4>Lista de Pessoas</h4>
<button onclick="window.location.href = 'pessoas/formulario'">Adicionar</button>
<div class="table-responsive" id="table">
    <table class="table mb-0">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Id</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/pages/pessoas.js"></script>
}