@page "/cidades/formulario"

<h4>Formulário de Cidades</h4>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="col-md-3 col-sm-12">
            <label>Nome</label>
            <input type="text" name="Nome" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="col-md-3 col-sm-12">
            <label>UF</label>
            <input type="text" name="Uf" class="form-control">
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="col-md-3 col-sm-12">
            <label>Cep</label>
            <input type="text" name="Cep" class="form-control">
        </div>
    </div>


<div class="row">
    <button onclick="window.location.href='/cidades'">Cancelar</button>
    <button onclick="salvar();">Salvar</button>
</div>

@section Scripts{
    <script src="~/js/pages/cidades-formulario.js"></script>
}
