
@page "/pessoas"
<div class="row">
    <div class="col-md-20 col-sm-12">
        <div class="form-group mb-12">
            <label>Filtro de Busca</label>
            <input type="text" name="busca" id="busca" class="form-control">
        </div>
    </div>

    

    <div class="col-md-2 mt-4">
        <button class="btn btn-info" onclick="window.location.href = '/pessoas/deletar'" style="width:100%">
            <i class="fa fa-search" aria-hidden="true"></i>
            Deletar
        </button>
    </div>

    <div class="col-md-2 mt-4">
        <button class="btn btn-info" onclick="window.location.href = '/pessoas/editar'" style="width:100%">
            <i class="fa fa-search" aria-hidden="true"></i>
            Editar
        </button>
    </div>


    <div class="col-md-2 mt-4">
        <button class="btn btn-info" onclick="window.location.href = '/pessoas/formulario'" style="width:100%">
            <i class="fa fa-search" aria-hidden="true"></i>
            Adicionar
        </button>
    </div>
</div>
<h4>Lista de Pessoas</h4>

<div class="table-responsive" id="table">
    <table class="table table-striped" id="table-pessoas">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/pages/pessoas.js"></script>
}