@page "/pessoas/deletar"


<h4>Deletar Pessoas</h4>


<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="col-md-3 col-sm-12">
            <label>Id</label>
            <input type="text" name="Id" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <button onclick="window.location.href='/pessoas'">Cancelar</button>
    <button onclick="deletar();">Deletar</button>
</div>

@section Scripts {
    <script src="~/js/pages/pessoas-delete.js"></script>
}