@page "/pessoas/formulario"
<h4>Formulário de Pessoas</h4>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="col-md-3 col-sm-12">
            <label>Nome</label>
            <input type="text" name="Nome" class="form-control">
        </div>   
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-12">
            <label>Email</label>
            <input type="text" name="Email" class="form-control">
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="col-md-3 col-sm-12">
            <label>Senha</label>
            <input type="text" name="Senha" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <button onclick="window.location.href='/pessoas'">Cancelar</button>
    <button onclick="salvar();">Salvar</button>
</div>

@section Scripts{
    <script src="~/js/pages/pessoas-formulario.js"></script>
}